@import url('components/infobrand.css');


body {
    display: flex!important;
    flex-direction: column!important;
    min-height: 110vh!important; /*tamaño completo*/
}

main {
    flex: 1; 
}


.contenido {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 600px; /* Ajustamos el ancho para que no ocupe toda la pantalla */
}




